html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Login-Acesso {
    max-width:  500px;
}

.direita {
    float: right;
}

.esquerda {
    float: left;
}
